[Desktop Entry]
Name=Vrxx
Comment=Advanced Xray/Sing-box Client
Exec=vrxx %u
Icon=ru.mark.vrxx
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=vrxx
Keywords=vpn;proxy;xray;v2ray;sing-box;
MimeType=x-scheme-handler/vless;x-scheme-handler/vmess;x-scheme-handler/trojan;x-scheme-handler/ss;x-scheme-handler/hysteria2;x-scheme-handler/hy2;x-scheme-handler/tuic;
