<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>vrxx</vendor>
  <vendor_url>https://github.com/Mark-TinZ/vrxx</vendor_url>

  <action id="ru.mark.vrxx.daemon.start-proxy">
    <description>Start the VPN proxy core</description>
    <message>Authentication is required to start the privileged VPN proxy core.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="ru.mark.vrxx.daemon.stop-proxy">
    <description>Stop the VPN proxy core</description>
    <message>Authentication is required to stop the privileged VPN proxy core.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
